<?xml version="1.0" encoding="UTF-8"?>
<!-- xml 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--태그 규칙 선언-->

<mapper namespace="ItemMapper">
    <select id="selectList" resultType="com.linker.direct.store.entity.Item">
        <![CDATA[
            SELECT * FROM item ORDER BY itemId
        ]]>
    </select>
    <select id="create">
        <![CDATA[
            INSERT INTO item (id, name, price, stockQuantity, description, imageUrl)
            VALUES (#{id}, #{name}, #{price}, #{stockQuantity}, #{description}, #{imageUrl})
        ]]>
    </select>
</mapper>