<?xml version="1.0" encoding="UTF-8"?>
<!-- xml 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--태그 규칙 선언-->

<mapper namespace="itemImg">
    <insert id="create" parameterType="com.linker.direct.item.vo.ItemImgVO">
        <![CDATA[
            INSERT INTO item_img (item_id, img_name, origin_name)
            VALUES (#{item_id}, #{img_name}, #{origin_name})
        ]]>
    </insert>

    <select id="readByItem" parameterType="com.linker.direct.item.vo.ItemVO" resultType="com.linker.direct.item.vo.ItemImgVO">
        <![CDATA[
            SELECT * FROM item_img WHERE item_id = #{item_id}
        ]]>
    </select>
    
        <!--  상품리스트의 모든 사진 불러오기  -->
<!--    <select id="readByItems" parameterType="java.util.List" resultType="com.linker.direct.item.vo.ItemImgVO">-->
<!--        <![CDATA[-->
<!--            SELECT item_id, img_name, origin_name FROM item_img i WHERE item_id IN-->
<!--        ]]>-->
<!--        <foreach collection="list" item="item" open="(" separator="," close=")">-->
<!--            #{item.item_id}-->
<!--        </foreach>-->
<!--    </select>-->
</mapper>