<?xml version="1.0" encoding="UTF-8"?>
<!-- xml 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--태그 규칙 선언-->

<mapper namespace="member">
    <select id="readById" resultType="com.linker.direct.member.vo.MemberVO">
        <![CDATA[
            SELECT * FROM memberVO WHERE user_id = #{user_id}
        ]]>
    </select>
</mapper>