<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.linker.member">

	<resultMap id="memberResult" type="com.linker.member.vo.MemberVO">
		<result property="user_id" column="user_id"/>
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="address" column="address"/>
		<result property="password" column="password"/>
		<result property="joinDate" column="joinDate"/>
		<result property="email" column="email"/>
		<result property="number" column="number"/>
	</resultMap>
	
	<!-- 로그인 처리 -->
	<select id="loginByID" parameterType="com.linker.member.vo.MemberVO" resultMap="memberResult">
	
		<![CDATA[
			SELECT * 
			FROM myinfo
			WHERE ID = #{id}
		]]>
		
	</select>
	
	<!-- 회원가입 처리 -->
	<insert id="addMember" parameterType="com.linker.member.vo.MemberVO">
		<![CDATA[
			INSERT INTO myinfo (user_id, id, name, address, password, joindate, email, number)
			SELECT IFNULL(MAX(user_id), 0) + 1, #{id}, #{name}, #{address}, #{password}, sysdate(), #{email}, #{number}
			FROM myinfo
		]]>
	</insert>
	
	<!-- 회원 전체 목록 추출하기 -->
	<select id="selectAllMemberList" resultMap="memberResult">
		<![CDATA[
			SELECT * 
			FROM myinfo
			ORDER BY JOINDATE DESC
		]]>
	</select>
	
	<!-- 아이디에 해당하는 회원 정보 가져오기 -->
	<select id="selectMember" parameterType="com.linker.member.vo.MemberVO" resultType="com.linker.member.vo.MemberVO">
		<![CDATA[
		SELECT user_id, id, name, zip_code, address, address_detail, password, joindate, email, number
		FROM myinfo 
		WHERE user_id = #{user_id}
		]]>
	</select>
	
	<!-- 아이디에 해당하는 회원 정보 수정하기 -->
	<update id="updateMember" parameterType="com.linker.member.vo.MemberVO">
		<![CDATA[
		UPDATE 	myinfo
		SET		password=#{password}, name=#{name}, zip_code=#{zip_code}, email=#{email}, address=#{address}, address_detail=#{address_detail}, number=#{number}
		WHERE	user_id = #{user_id}
		]]>
	</update>
	
	<!-- 아이디에 해당하는 회원 정보 주소만 수정하기 -->
	<!-- 주소리스트에서 주소 선택 시 myinfo 테이블 주소를 변경 -->
	<update id="updateAddress" parameterType="com.linker.util.address.AddressDTO">
		<![CDATA[
		UPDATE 	myinfo
		SET address = (select address from address where address_id = 1),
			zip_code = (select zip_code from address where address_id = 1),
			address_detail = (select address_detail from address where address_id = 1)
		WHERE user_id = #{user_id};
		]]>
	</update>
	
	<!-- 아이디에 해당하는 회원 정보 삭제하기 -->
	<delete id="deleteMember" parameterType="com.linker.member.vo.MemberVO">
		<![CDATA[
		DELETE	FROM myinfo
		WHERE	user_id = #{user_id}
		]]>
	</delete>
	
	<!-- 아이디 중복 검사 : 입력한 아이디가 존재하는지 알아낸다. -->
	<select id="idCheck" parameterType="com.linker.member.vo.MemberVO" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM myinfo
		WHERE id = #{id}
	]]>
	</select>

</mapper>