<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.linker.product">

	<!-- 회원 전체 목록 추출하기 -->
	<select id="selectAllProduct" resultType="com.linker.product.dto.ProductDTO">
		<![CDATA[
			SELECT id, product_no, order_product_no, order_product_count, order_product_price, order_product_name
			FROM order_product
			ORDER BY order_product_no
		]]>
	</select>
	
	<!-- 회원 id에 해당하는 상품 추출하기 -->
	<select id="selectProduct" resultType="com.linker.product.dto.ProductDTO">
		<![CDATA[
			SELECT id, product_no, order_product_no, order_product_count, order_product_price, order_product_name
			FROM order_product 
			WHERE id = #{id}
		]]>
	</select>
	
</mapper>