<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linker.direct.search">

	
	<!-- 게시글 전체 목록 가져오기 -->
	<select id="searchListAll" resultType="com.linker.direct.search.dto.SearchDTO">
		<![CDATA[select * from sr_product order by product_id desc]]>
	</select>

<!--	페이징-->
	<select id="searchListTotalCount" parameterType="com.linker.direct.common.util.Criteria" resultType="Integer">
		<![CDATA[
		SELECT	COUNT(*)
		FROM	sr_product
		WHERE	1 = 1
		]]>
	</select>

	<!-- 낮은 가격순 정렬 -->
	<select id="searchListPaging" parameterType="hashmap" resultType="com.linker.direct.search.dto.SearchDTO">
		<![CDATA[
		select *
		from (select *, ROW_NUMBER() OVER(
		]]>
		<include refid="searchOrder" />
		<![CDATA[
		) as rNUM from sr_product where 1 = 1
		]]>
		<include refid="searchMySQL"/>
		<![CDATA[
		) brd
		where rNum between 1+(#{perPageNum}*(#{page}-1)) and #{perPageNum} + (#{perPageNum}*(#{page}-1))
		]]>
		<include refid="searchOrder"/>
	</select>

	<sql id="searchMySQL">
		AND product_name LIKE CONCAT('%', #{keyword}, '%')
	</sql>

	<sql id="searchOrder">
		<if test="subFilter == 'lowPrice'">
			order by product_price
		</if>
		<if test="subFilter == 'highPrice'">
			order by product_price desc
		</if>
		<if test="subFilter == 'product_date'">
			order by product_date desc
		</if>
		<choose>
			<when test="subFilter == null">
				order by product_price
			</when>
		</choose>
	</sql>

</mapper>










