<?xml version="1.0" encoding="UTF-8"?>
<!-- xml 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--태그 규칙 선언-->

<mapper namespace="com.linker.direct.user.dao.UserDao">
    <select id="listAll" resultType="com.linker.direct.item.vo.Item">
        <![CDATA[
            SELECT * FROM item ORDER BY id
        ]]>
    </select>

    <insert id="create" parameterType="com.linker.direct.item.vo.Item">
        <![CDATA[
            INSERT INTO item (id, name, price, stock, description, status, category_id, createBy)
            SELECT IFNULL(MAX(id), 0) + 1, #{name}, #{price}, #{stock}, #{description}, #{status}, #{category_id}, #{createBy} FROM item
        ]]>
        <!-- 쿼리문 실행 이후(order), Item 객체의 id(keyProperty)에, 새로 생성된 id(keyColumn)를 set 해준다. -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
            SELECT MAX(id) FROM item
        </selectKey>
    </insert>

    <select id="readById" resultType="com.linker.direct.user.vo.User">
        <![CDATA[
            SELECT * FROM user WHERE user_id = #{user_id}
        ]]>
    </select>
</mapper>