@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

html, body {
    font-family: "MICEGothic", "WatermelonSalad", "NotoSansKR", "Gowun Dodum";
    font-size: 16px;
    background-color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    scroll-width: thin;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none!important;
}



/* Font Definitions */
@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Bold.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Black.otf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Light.otf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Thin.otf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Gowun Dodum';
    src: url('../fonts/GowunDodum-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'WatermelonSalad';
    src: url('../fonts/WatermelonSalad.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MICEGothic';
    src: url('../fonts/MICEGothic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MICEGothic';
    src: url('../fonts/MICEGothic-Bold.ttf') format('truetype');
    font-weight: bold;
}