@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

html, body {
    /*font-family: "Gowun Dodum";*/
    font-size: 16px;
    background-color: #E9ECEF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none!important;
    color: gray;
}

a:hover {
	text-decoration: none;
}

.btn {
	background: gray;
	color: white;
}

#mypage {
	padding: 30px;
	color: gray;
}
	
nav.col-sm-2 {
	background: #fff2ee;
	padding: 0;
	flex-direction: row;
}

h4 {
	color: gray;
}

#c1 {
	background: #fff2ee;
	color: gray;
	text-align: center;
}

#top {
	padding: 0px;
}

ul {
	text-align: center;
}

.nav-tabs.nav-justified {
	width: 100%;
	height: 80px;
}

#search {
	padding: 30px;
	width: 50%;
}

div .col-sm-8 {
	border: 1px solid lightgray;
	height: 300px;
	margin-left:10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

div .col-sm-7 {
	border: 1px solid lightgray;
	width: 70%;
	height: 220px;
	margin-left:10px;
	border-radius: 10px;
}

div .col-md-3 {
	border: 1px solid lightgray;
	border-radius: 10px;
	height: 100px;
	margin-left:10px;
}

div .col-md-7 {
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-left:10px;
	height: 100px;
}

#modalbtn {
	background: rgba(0,0,0,0);
}

i {
	color: gray;
}

.col-sm-2 {
	padding: 20px;
}

/* Font Definitions 
@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Bold.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Black.otf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Light.otf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Thin.otf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Gowun Batang';
    src: url('../fonts/GowunBatang-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gowun Batang';
    src: url('../fonts/GowunBatang-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gowun Dodum';
    src: url('../fonts/GowunDodum-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'DoHyeon';
    src: url('../fonts/DoHyeon-Regular.ttf') format('truetype');
    font-weight: 400;
}
*/